{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>空间信息技术协会</title>
    <link rel="stylesheet" href="{% static 'css/map.css' %}" />
    <!-- <script src="../statics/myjs/seaScreen.js"></script> -->
    <script type="text/javascript">
      $(function () {
        var svgRootDom = $("#sketchpad")[0];
        adjustToFreezeWidth(svgRootDom);
      });
    </script>
    
  </head>

  <body>

    <!-- 第一块 -->
    <section class="firstbox">
      <div class="column">
        <img src="{% static 'img/logo_white.png' %}"></img>
      </div>

      <div class="column">
        <h1>MARINE DataAnalysis</h1>
        <svg ID="sketchpad" viewBox="0,0,512,600">
          <polyline
            fill="transparent"
            stroke="#37e6f3"
            stroke-width="2"
            points="9,10    88.16,10    111.4,34   133,34   140.24,42   376.64,42   384,34   405.6,34   428.84,10    508,10"
          >
            <animate
              attributeName="stroke-dasharray"
              attributeType="XML"
              from="0, 266, 0, 266"
              to="0, 0, 532, 0"
              dur="2s"
              begin="0s"
              calcMode="spline"
              keyTimes="0;1"
              keySplines="0.4,1,0.49,0.98"
              repeatCount="indefinite"
            ></animate>
          </polyline>
          <polyline
            fill="transparent"
            stroke="#37e6f3"
            stroke-width="2"
            points="103.6,48 408.4,48"
          >
            <animate
              attributeName="stroke-dasharray"
              attributeType="XML"
              from="0, 152.39999999999999, 0, 152.39999999999999"
              to="0, 0, 304.79999999999998, 0"
              dur="2s"
              begin="0s"
              calcMode="spline"
              keyTimes="0;1"
              keySplines=".4,1,.49,.98"
              repeatCount="indefinite"
            ></animate>
          </polyline>
        </svg>
      </div>

      <div class="column">
        <div class="showTime"></div>
        <script>
          var t = null;
          t = setTimeout(time, 1); //開始运行
          function time() {
            clearTimeout(t); //清除定时器
            dt = new Date();
            var y = dt.getFullYear();
            var mt = dt.getMonth() + 1;
            var day = dt.getDate();
            var h = dt.getHours().toString().padStart(2, 0); //获取时
            var m = dt.getMinutes().toString().padStart(2, 0); //获取分
            var s = dt.getSeconds().toString().padStart(2, 0); //获取秒
            document.querySelector(".showTime").innerHTML =
              // "当前时间：" +
              y + "-" + mt + "-" + day + "  " + h + ":" + m + ":" + s;
            t = setTimeout(time, 1000); //设定定时器，循环运行
          }
        </script>
      </div>
    </section>
    <!-- 第二块 -->
    <section class="secondbox">
      <div class="no">
        <div class="no-hd">
          <ul>
            <li>298</li>
            <li>8</li>
            <li>290</li>
            <li>1314</li>
            <li>2</li>
            <li>37</li>
            <li>9</li>
            <li>78</li>
          </ul>
        </div>
        <div class="no-bd">
          <ul>
            <li>社团总人数</li>
            <li>管理员人数</li>
            <li>会员人数</li>
            <li>历史会员总数</li>
            <li>正在进行活动数</li>
            <li>历史活动总数</li>
            <li>今日点赞数</li>
            <li>历史通知总数</li>
          </ul>
        </div>
      </div>
    </section>
    <!-- 第三块 -->
    <section class="thirdbox">
      <section class="bigborder">

        <div class="panel">
          <div class="box3">
            <h2><b>会员迁徙图</b></h2>
            <div id="map">

              <div class="chart"></div>
              <div class="map1"></div>
              <div class="map2"></div>
              <div class="map3"></div>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel2">
            <div class="box45 pie2">
              <h2><b></b></h2>
              <div class="chart"></div>
            </div>

            <div class="box45 pie1">
              <h2><b>会员班级分布</b></h2>
              <div class="znl"></div>
              <div class="chart"></div>
            </div>
          </div>

          <div class="panel2">
            <div class="box6 line1">
              <h2><b>近15天社团活跃度趋势</b></h2>
              <div class="chart"></div>
            </div>
          </div>
        </div>
      </section>

      <section class="bigborder2">
        <div class="panel">
          <div class="box9"></div>
        </div>

        <div class="panel">
          <div class="box8 bar1">
            <h2><b>会员城市分布排行</b></h2>
            <div class="chart"></div>
          </div>
        </div>
      </section>
    </section>
    <script src="{% static 'js/flexible.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/echarts.min.js' %}"></script>
    <script src="{% static 'myjs/map.js' %}"></script>
    <script src="{% static 'js/china.js' %}"></script>
    <script src="{% static 'myjs/myMap.js' %}"></script>
    <script src="{% static 'js/vue.js' %}"></script>
  </body>
</html>
